@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f9faff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../images/bg-pattern.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 50%;
}

main {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 14.5rem 39.7rem;
  grid-template-rows: 14.5rem 39.7rem;
  -ms-grid-columns: 54rem;
  grid-template-columns: 54rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  gap: 5.4rem;
}

.title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  position: relative;
}

.title h1 {
  color: #293356;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 1.2rem;
}

.title h3 {
  color: #848ead;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.title__bg {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.toggle {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  background: #ffffff;
  -webkit-box-shadow: 0px 2rem 3rem -0.5rem rgba(127, 137, 185, 0.152073);
  box-shadow: 0px 2rem 3rem -0.5rem rgba(127, 137, 185, 0.152073);
  border-radius: 0.8rem;
}

.toggle__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 4rem 4.8rem 4rem 4.6rem;
}

.toggle__title h5 {
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #848ead;
}

.toggle__per-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
}

.toggle__per-month span {
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: -1px;
  color: #293356;
}

.toggle__per-month p {
  padding-left: 0.8rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #848ead;
}

.toggle__per-month-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding-top: 4rem;
}

.toggle__per-month-mobile span {
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: -1px;
  color: #293356;
}

.toggle__per-month-mobile p {
  padding-left: 0.8rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #848ead;
}

.toggle__slider-container {
  width: 100%;
  padding: 0rem 4.8rem;
}

.toggle__slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.8rem;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a4f3eb),
    color-stop(50%, #a4f3eb),
    color-stop(50%, #ecf0fb),
    to(#ecf0fb)
  );
  background: linear-gradient(
    to right,
    #a4f3eb 0%,
    #a4f3eb 50%,
    #ecf0fb 50%,
    #ecf0fb 100%
  );
  outline: none;
  border-radius: 0.5rem;
}

.toggle input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4rem;
  height: 4rem;
  border: 0;
  border-radius: 50%;
  background-color: #10d8c4;
  background-image: url("../images/icon-slider.svg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.toggle input[type="range"]::-moz-range-thumb {
  width: 4rem;
  height: 4rem;
  border: 0;
  border-radius: 50%;
  background-color: #10d8c4;
  background-image: url("../images/icon-slider.svg");
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.toggle input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #24aea1;
}

.toggle input[type="range"]::-moz-range-thumb:hover {
  background-color: #24aea1;
}

.toggle__price-information {
  padding: 4rem 6.5rem 4.2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.toggle__price-information > * {
  margin-right: 1.6rem;
}

.toggle__price-information:nth-last-child() {
  margin-right: 0rem;
}

.toggle__switch {
  width: 4.3rem;
  height: 2.2rem;
  background-color: #cfd8ef;
  border-radius: 1.5rem;
  padding: 0rem;
  position: relative;
}

.toggle__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle__switch input:checked + .toggle__switch--white-slider {
  background-color: #7aeadf;
}

.toggle__switch input:checked + .toggle__switch--white-slider:before {
  -webkit-transform: translateX(22px);
  transform: translateX(22px);
}

.toggle__switch--white-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle__switch--white-slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle__price-discount {
  margin-right: 0rem;
  color: #ff8d68;
  font-weight: 800;
  font-size: 10px;
  line-height: 14px;
  padding: 0.3rem 0.7rem;
  background-color: #feede8;
  border-radius: 0.95rem;
}

.toggle__price-discount-mobile {
  margin-right: 0rem;
  color: #ff8d68;
  font-weight: 800;
  font-size: 10px;
  line-height: 14px;
  padding: 0.3rem 0.7rem;
  background-color: #feede8;
  border-radius: 0.95rem;
}

.toggle__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 13.8rem;
  padding: 3.2rem 4.4rem 3.2rem 4.8rem;
  border-top: 0.1rem solid #ecf0fb;
}

.toggle__footer ul li {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #848ead;
  list-style: none;
  margin-bottom: 1rem;
}

.toggle__footer ul li:nth-last-child() {
  margin-bottom: 10rem;
}

.toggle__footer ul li svg {
  margin-right: 1.6rem;
}

.toggle__cat {
  color: #becdff;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 1.2rem 4.6rem;
  background-color: #293356;
  border-radius: 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 4.1rem;
  width: 17rem;
}

.toggle__cat:hover {
  color: #ffffff;
}

.classic-text {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #848ead;
}

@media only screen and (min-width: 1585px) {
  body {
    background-size: 100% 50%;
  }
}

@media only screen and (min-width: 450px) {
  .toggle__per-month-mobile {
    display: none;
  }
  .toggle__price-discount-mobile {
    display: none;
  }
  .bottom {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  main {
    -ms-flex-line-pack: start;
    align-content: start;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    -ms-grid-columns: minmax(25rem, 32.8rem);
    grid-template-columns: minmax(25rem, 32.8rem);
    padding: 8.9rem 2.4rem;
  }
  .title h1 {
    font-size: 20px;
    line-height: 27px;
  }
  .title h3 {
    padding: 0rem 6.5rem;
  }
  #output-price {
    display: none;
  }
  .toggle__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    padding: 3.4rem 0rem 2.5rem 0rem;
  }
  .toggle__per-month {
    display: none;
  }
  .toggle__price-information {
    padding: 3.4rem 1.1rem 3.8rem 1.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  .toggle__price-information > * {
    margin-right: 1.2rem;
  }
  .toggle__price-discount {
    display: none;
  }
  .toggle__footer {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2.4rem 0rem 3.2rem 0rem;
    height: auto;
  }
  .toggle__footer ul {
    margin-bottom: 2.2rem;
  }
  .bottom {
    height: 9rem;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */
