*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}
.all {
  background: #0a0c1b;
}
.container__business {
  display: flex;
  justify-content: center;
  margin: 100px 10px;
  align-items: center;
}
.container__business__text {
  justify-content: center;
  width: 540px;
  height: 446px;
  background: #1c1938;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.container__business__text__title {
  margin: 72px 75px 0px 75px;
  font-size: 34px;
  max-width: 375px;
}
.container__business__text__title span {
  color: #a661d8;
}
.container__business__text__descricao {
  display: flex;
  justify-content: center;
  width: 350px;
  text-align: left;
  font-size: 14px;
  color: #918ea9;
  line-height: 24px;
  font-weight: normal;
  margin: 30px 10px 60px 70px;
}
.container__business__numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__business__number__data {
  margin-right: 60px;
}
.container__business__number__strong {
  font-size: 21px;
}
.container__business__number__p {
  font-size: 12px;
  color: #918ea9;
}
.container__business__img {
  width: 540px;
  height: 446px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url("./images/image-header-desktop.jpg");
}
.container__business__img__roxa {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0.5;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
}
.attribution a {
  color: #a661d8;
}
/* 
hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)



- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6) */
