// Primary

$primary-soft-cyan: #a4f3eb;
$primary-strong-cyan: #10d8c4;
$primary-really-strong-cyan: #7aeadf;
$primary-light-Grayish-Red: #feede8;
$primary-Light-Red: #ff8d68;
$primary-Pale-Blue: #becdff;

// Neutral

$neutral-White: hsl(0, 0%, 100%);
$neutral-Very-Pale-Blue: #f9faff;
$neutral-Light-Grayish-Blue: #ecf0fb;
$neutral-Light-2-Grayish-Blue: #cfd8ef;
$neutral-Grayish-Blue: #848ead;
$neutral-Dark-Desaturated-Blue: #293356;

$white: #ffffff;
